<h1><%= t('.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <th><%= User.human_attribute_name(:email) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to t('link.Show'), user %></td>
        <td><%= link_to t('link.Edit'), edit_user_path(user) %></td>
        <td><%= link_to t('link.Destroy'), user, method: :delete, data: { confirm: t('messages.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('link.New', model: User.model_name.human), new_user_path %>
