<%= form_for(@micropost) do |f| %>
  <% if @micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header.other',
                model: Micropost.model_name.human,
                count: @micropost.errors.count) %></h2>

      <ul>
      <% @micropost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :posted_at %><br>
    <%= f.datetime_select :posted_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
