<h1><%= t('.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= Micropost.human_attribute_name(:content) %></th>
      <th><%= Micropost.human_attribute_name(:user_id) %></th>
      <th><%= Micropost.human_attribute_name(:posted_at) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @microposts.each do |micropost| %>
      <tr>
        <td><%= micropost.content %></td>
        <td><%= micropost.user_id %></td>
        <td><%= micropost.posted_at %></td>
        <td><%= link_to t('link.Show'), micropost %></td>
        <td><%= link_to t('link.Edit'), edit_micropost_path(micropost) %></td>
        <td><%= link_to t('link.Destroy'), micropost, method: :delete, data: { confirm: t('messages.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('link.New', model: Micropost.model_name.human), new_micropost_path %>
