<p id="notice"><%= notice %></p>

<p>
  <strong><%= Micropost.human_attribute_name(:content) %>:</strong>
  <%= @micropost.content %>
</p>

<p>
  <strong><%= Micropost.human_attribute_name(:user_id) %>:</strong>
  <%= @micropost.user_id %>
</p>

<%= link_to t('link.Edit'), edit_micropost_path(@micropost) %> |
<%= link_to t('link.Back'), microposts_path %>
